doctype html
html(lang='ru')
    head
        include head
    body
        main
            div(class="demo-card-wide mdl-card mdl-shadow--2dp")
                div(class="mdl-card__title")
                    h2(class="mdl-card__title-text") Основы JavaScript в скринкастах
                div(class="mdl-card__supporting-text")
                    include:markdown-it intro.md
                div(class="mdl-card__actions mdl-card--border")
                    ul(class='mdl-list' id='themes' style='visibility: hidden')
                        li(class='mdl-list__item' v-for='theme in themes' _click='getScreencast')
                            |<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" :for="'theme-' + theme.pos">
                            |    <input type="radio" :id="'theme-' + theme.pos" class="mdl-radio__button" name="theme" :value="theme.value" @change='getScreencast'>
                            |    <span class="mdl-radio__label">{{theme.name}}</span>
                            |</label>

                    p: b PS
                    ol
                        li. 
                            Прошу извинить за некоторые оговорки в озвучке (например, фигурные скобки назвал угловыми). 
                            <br>
                            Исправить их не так просто, как опечатки в тексте, 
                            <br>
                            поэтому оставляю пока как есть в надежде когда-нибудь перезаписать.
                        li. 
                            Соло на перфораторе - сосед из квартиры слева.
                        li. 
                            Кошку зовут Дымка.
                div(class="mdl-card__menu")
                    button(id='go-to-school' class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" onclick='window.top.location = "http://js-invite.ru"')
                        i(class="material-icons") school
                    div(class="mdl-tooltip" for="go-to-school") Записаться на online-занятия

                #themes-raw(style='display: none')
                    include:markdown-it themes.md
    script
        include:coffee-script index.coffee
